node_modules
.DS_Store
.idea
.eslintcache

lib
dist
docs
.pnpm-store
pnpm-lock.yaml
tsconfig.tsbuildinfo
.babel-cache
.env
*.local
*.cache
*error.log
*debug.log
*err.log
.cspell
.cspellcache
.husky
.prettierignore
.gitignore
